## Problem Statement 

You need to build a model that is able to classify customer complaints based on the products/services. By doing so, you can segregate these tickets into their relevant categories and, therefore, help in the quick resolution of the issue.

You will be doing topic modelling on the <b>.json</b> data provided by the company. Since this data is not labelled, you need to apply NMF to analyse patterns and classify tickets into the following five clusters based on their products/services:

* Credit card / Prepaid card

* Bank account services

* Theft/Dispute reporting

* Mortgages/loans

* Others 


With the help of topic modelling, you will be able to map each ticket onto its respective department/category. You can then use this data to train any supervised model such as logistic regression, decision tree or random forest. Using this trained model, you can classify any new customer complaint support ticket into its relevant department.

## Pipelines that needs to be performed:

You need to perform the following eight major tasks to complete the assignment:

1.  Data loading

2. Text preprocessing

3. Exploratory data analysis (EDA)

4. Feature extraction

5. Topic modelling 

6. Model building using supervised learning

7. Model training and evaluation

8. Model inference

## Importing the necessary libraries

In [45]:
import json 
import numpy as np
import pandas as pd
import re, nltk, spacy, string
model = spacy.load("en_core_web_sm")
import en_core_web_sm
nlp = en_core_web_sm.load()
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

from plotly.offline import plot
import plotly.graph_objects as go
import plotly.express as px

from sklearn.feature_extraction.text import CountVectorizer, TfidfVectorizer
from pprint import pprint

import nltk
nltk.download('punkt')
nltk.download('wordnet')
from nltk.stem import WordNetLemmatizer

from nltk import word_tokenize, pos_tag

nltk.download('averaged_perceptron_tagger')

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package wordnet to /root/nltk_data...
[nltk_data]   Package wordnet is already up-to-date!
[nltk_data] Downloading package averaged_perceptron_tagger to
[nltk_data]     /root/nltk_data...
[nltk_data]   Unzipping taggers/averaged_perceptron_tagger.zip.

True

In [4]:
!pip install contractions

Collecting contractions
  Downloading contractions-0.0.58-py2.py3-none-any.whl (8.0 kB)
Collecting textsearch>=0.0.21
  Downloading textsearch-0.0.21-py2.py3-none-any.whl (7.5 kB)
Collecting anyascii
  Downloading anyascii-0.3.0-py3-none-any.whl (284 kB)
     |████████████████████████████████| 284 kB 4.8 MB/s
Collecting pyahocorasick
  Downloading pyahocorasick-1.4.2.tar.gz (321 kB)
     |████████████████████████████████| 321 kB 47.6 MB/s
Building wheels for collected packages: pyahocorasick
  Building wheel for pyahocorasick (setup.py) ... done
  Created wheel for pyahocorasick: filename=pyahocorasick-1.4.2-cp37-cp37m-linux_x86_64.whl size=85450 sha256=75300114aa0f250664937207106b90ef6b0e3811be07bc3e8dc92f65bb0cc567
  Stored in directory: /root/.cache/pip/wheels/25/19/a6/8f363d9939162782bb8439d886469756271abc01f76fbd790f
Successfully built pyahocorasick
Installing collected packages: pyahocorasick, anyascii, textsearch, contractions
Successfully installed anyascii-0.3.0 contractions-0.0.58 pyahocorasick-1.4.2 textsearch-0.0.21

In [5]:
import contractions

## Loading the data

The data is in JSON format and we need to convert it to a dataframe.

In [6]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [7]:
# Opening JSON file 
f = open("/content/drive/MyDrive/ML data /complaintsData/complaints-2021-05-14_08_16.json",'r')  # Write the path to your data file and load it 
  
# returns JSON object as  
# a dictionary 
data = json.loads(f.read())
df=pd.json_normalize(data)

## Data preparation

In [8]:
# Inspect the dataframe to understand the given data.

df.head()

                _index  ... _source.consumer_consent_provided
0  complaint-public-v2  ...              Consent not provided
1  complaint-public-v2  ...                  Consent provided
2  complaint-public-v2  ...                  Consent provided
3  complaint-public-v2  ...              Consent not provided
4  complaint-public-v2  ...                               N/A

[5 rows x 22 columns]

In [9]:
df.shape

(78313, 22)

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 78313 entries, 0 to 78312
Data columns (total 22 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   _index                             78313 non-null  object
 1   _type                              78313 non-null  object
 2   _id                                78313 non-null  object
 3   _score                             78313 non-null  float64
 4   _source.tags                       10900 non-null  object
 5   _source.zip_code                   71556 non-null  object
 6   _source.complaint_id               78313 non-null  object
 7   _source.issue                      78313 non-null  object
 8   _source.date_received              78313 non-null  object
 9   _source.state                      76322 non-null  object
 10  _source.consumer_disputed          78313 non-null  object
 11  _source.product                    78313 non-null  object
 12  _source.company_response           78313 non-null  object
 13  _source.company                    78313 non-null  object
 14  _source.submitted_via              78313 non-null  object
 15  _source.date_sent_to_company       78313 non-null  object
 16  _source.company_public_response    4 non-null      object
 17  _source.sub_product                67742 non-null  object
 18  _source.timely                     78313 non-null  object
 19  _source.complaint_what_happened    78313 non-null  object
 20  _source.sub_issue                  32016 non-null  object
 21  _source.consumer_consent_provided  77305 non-null  object
dtypes: float64(1), object(21)
memory usage: 13.1+ MB

In [11]:
df.isna().sum()

_index                                   0
_type                                    0
_id                                      0
_score                                   0
_source.tags                         67413
_source.zip_code                      6757
_source.complaint_id                     0
_source.issue                            0
_source.date_received                    0
_source.state                         1991
_source.consumer_disputed                0
_source.product                          0
_source.company_response                 0
_source.company                          0
_source.submitted_via                    0
_source.date_sent_to_company             0
_source.company_public_response      78309
_source.sub_product                  10571
_source.timely                           0
_source.complaint_what_happened          0
_source.sub_issue                    46297
_source.consumer_consent_provided     1008
dtype: int64

In [12]:
# find % of of na columns wise 

df.isna().sum()/len(df.index)*100

_index                                0.000000
_type                                 0.000000
_id                                   0.000000
_score                                0.000000
_source.tags                         86.081493
_source.zip_code                      8.628197
_source.complaint_id                  0.000000
_source.issue                         0.000000
_source.date_received                 0.000000
_source.state                         2.542362
_source.consumer_disputed             0.000000
_source.product                       0.000000
_source.company_response              0.000000
_source.company                       0.000000
_source.submitted_via                 0.000000
_source.date_sent_to_company          0.000000
_source.company_public_response      99.994892
_source.sub_product                  13.498397
_source.timely                        0.000000
_source.complaint_what_happened       0.000000
_source.sub_issue                    59.117899
_source.consumer_consent_provided     1.287143
dtype: float64

In [13]:
## Drop columns where 80% of the data is na 

df.drop(["_source.tags","_source.company_public_response"],inplace=True, axis=1)

In [14]:
# check again  : find % of of na columns wise 

df.isna().sum()/len(df.index)*100

_index                                0.000000
_type                                 0.000000
_id                                   0.000000
_score                                0.000000
_source.zip_code                      8.628197
_source.complaint_id                  0.000000
_source.issue                         0.000000
_source.date_received                 0.000000
_source.state                         2.542362
_source.consumer_disputed             0.000000
_source.product                       0.000000
_source.company_response              0.000000
_source.company                       0.000000
_source.submitted_via                 0.000000
_source.date_sent_to_company          0.000000
_source.sub_product                  13.498397
_source.timely                        0.000000
_source.complaint_what_happened       0.000000
_source.sub_issue                    59.117899
_source.consumer_consent_provided     1.287143
dtype: float64

In [15]:
#print the column names
df.columns

Index(['_index', '_type', '_id', '_score', '_source.zip_code',
       '_source.complaint_id', '_source.issue', '_source.date_received',
       '_source.state', '_source.consumer_disputed', '_source.product',
       '_source.company_response', '_source.company', '_source.submitted_via',
       '_source.date_sent_to_company', '_source.sub_product', '_source.timely',
       '_source.complaint_what_happened', '_source.sub_issue',
       '_source.consumer_consent_provided'],
      dtype='object')

In [16]:
#Assign new column names
zip_iterator = zip(list(df.columns), [(x.replace("_","")).replace("source.","") for x in list(df.columns)])
df.rename(columns=dict(zip_iterator), inplace=True)
df.rename(columns={"complaintwhathappened":"complaints"},inplace=True)

# check changes column names
df.columns

Index(['index', 'type', 'id', 'score', 'zipcode', 'complaintid', 'issue',
       'datereceived', 'state', 'consumerdisputed', 'product',
       'companyresponse', 'company', 'submittedvia', 'datesenttocompany',
       'subproduct', 'timely', 'complaints', 'subissue',
       'consumerconsentprovided'],
      dtype='object')

In [17]:
# check columns with blanks  

(df[:] == "").sum()

index                          0
type                           0
id                             0
score                          0
zipcode                        0
complaintid                    0
issue                          0
datereceived                   0
state                          0
consumerdisputed               0
product                        0
companyresponse                0
company                        0
submittedvia                   0
datesenttocompany              0
subproduct                     0
timely                         0
complaints                 57241
subissue                       0
consumerconsentprovided        0
dtype: int64

In [18]:
#Assign nan in place of blanks in the complaints column

df.replace("", np.nan , inplace=True)

In [19]:
df.isna().sum()

index                          0
type                           0
id                             0
score                          0
zipcode                     6757
complaintid                    0
issue                          0
datereceived                   0
state                       1991
consumerdisputed               0
product                        0
companyresponse                0
company                        0
submittedvia                   0
datesenttocompany              0
subproduct                 10571
timely                         0
complaints                 57241
subissue                   46297
consumerconsentprovided     1008
dtype: int64

In [20]:
# check again  : find % of of na columns wise 

df.isna().sum()/len(df.index)*100

index                       0.000000
type                        0.000000
id                          0.000000
score                       0.000000
zipcode                     8.628197
complaintid                 0.000000
issue                       0.000000
datereceived                0.000000
state                       2.542362
consumerdisputed            0.000000
product                     0.000000
companyresponse             0.000000
company                     0.000000
submittedvia                0.000000
datesenttocompany           0.000000
subproduct                 13.498397
timely                      0.000000
complaints                 73.092590
subissue                   59.117899
consumerconsentprovided     1.287143
dtype: float64

In [21]:
#Remove all rows where complaints column is nan

df.dropna(inplace = True, subset=["complaints"])

In [22]:
# check again  : find % of of na columns wise 

df.isna().sum()/len(df.index)*100

index                       0.000000
type                        0.000000
id                          0.000000
score                       0.000000
zipcode                    22.043470
complaintid                 0.000000
issue                       0.000000
datereceived                0.000000
state                       0.678626
consumerdisputed            0.000000
product                     0.000000
companyresponse             0.000000
company                     0.000000
submittedvia                0.000000
datesenttocompany           0.000000
subproduct                 10.008542
timely                      0.000000
complaints                  0.000000
subissue                   38.800304
consumerconsentprovided     0.000000
dtype: float64

In [23]:
df.shape

(21072, 20)

## Prepare the text for topic modeling

Once you have removed all the blank complaints, you need to:

* Make the text lowercase
* Remove text in square brackets
* Remove punctuation
* Remove words containing numbers


Once you have done these cleaning operations you need to perform the following:
* Lemmatize the texts
* Use POS tags to get relevant words from the texts.

In [24]:
## check few complaints before cleaning 

df["complaints"].iloc[1]

'I upgraded my XXXX XXXX card in XX/XX/2018 and was told by the agent who did the upgrade my anniversary date would not change. It turned the agent was giving me the wrong information in order to upgrade the account. XXXX   changed my anniversary date from XX/XX/XXXX to XX/XX/XXXX without my consent! XXXX has the recording of the agent who was misled me.'

In [25]:
# Write your function here to clean the text and remove all the unnecessary elements.

def cleanText(text):
  text.lower()
  text = re.sub('\[|\]',"",text)    # Remove text in square brackets 
  text = re.sub('[^\w\s]',"",text)  # Remove punctuation
  text = re.sub('\w*\d\w*',"",text) # Remove words containing numbers
 # text = re.sub('[x]{2,}',"",text) # Remove words containing w
  return text.strip()

df["complaints"] = df["complaints"].apply(cleanText)

In [26]:
## check few complaints after cleaning 

df["complaints"].iloc[1]

'I upgraded my XXXX XXXX card in  and was told by the agent who did the upgrade my anniversary date would not change It turned the agent was giving me the wrong information in order to upgrade the account XXXX   changed my anniversary date from XXXXXXXX to XXXXXXXX without my consent XXXX has the recording of the agent who was misled me'

In [27]:
def check_word_frequency(text):
    return len(str(text).split(' '))

In [28]:
df['word_freq_complaints'] = df['complaints'].apply(check_word_frequency)
df['word_freq_complaints'].describe()

count    21072.000000
mean       253.904518
std        271.936512
min          1.000000
25%         97.000000
50%        181.000000
75%        321.000000
max       5556.000000
Name: word_freq_complaints, dtype: float64

In [29]:
#Write your function to Lemmatize the texts

def lemmatize_text(text):
  tokens = word_tokenize(text)
  wordnet_lemmatizer = WordNetLemmatizer()
  lemmatized = [wordnet_lemmatizer.lemmatize(token) for token in tokens]
  lemmatized = [wordnet_lemmatizer.lemmatize(token) for token in tokens]
  return " ".join(lemmatized)

In [30]:
#Create a dataframe('df_clean') that will have only the complaints and the lemmatized complaints 
df['lemmatized complaints'] =  df['complaints'].apply(lemmatize_text)

In [31]:
df_clean = df[['complaints' , 'lemmatized complaints']].copy()
df_clean.head()

                                           complaints                              lemmatized complaints
1   Good morning my name is XXXX XXXX and I apprec...  Good morning my name is XXXX XXXX and I apprec...
2   I upgraded my XXXX XXXX card in  and was told ...  I upgraded my XXXX XXXX card in and wa told by...
10  Chase Card was reported on  However fraudulent...  Chase Card wa reported on However fraudulent a...
11  On  while trying to book a XXXX  XXXX  ticket ...  On while trying to book a XXXX XXXX ticket I c...
14  my grand son give me check for  i deposit it i...  my grand son give me check for i deposit it in...

In [39]:
#Write your function to extract the POS tags 

def extract_nounPOS(text):
  nouns =  [token for token, pos in pos_tag(word_tokenize(text)) if pos.startswith('N')]
  return nouns

In [48]:
#The clean dataframe should now contain the raw complaint, lemmatized complaint and the complaint after removing POS tags.
df_clean['complaintafterremovingPOStags'] =  df['lemmatized complaints'].apply(extract_nounPOS)

## Exploratory data analysis to get familiar with the data.

Write the code in this task to perform the following:

*   Visualise the data according to the 'Complaint' character length
*   Using a word cloud find the top 40 words by frequency among all the articles after processing the text
*   Find the top unigrams,bigrams and trigrams by frequency among all the complaints after processing the text. ‘

In [ ]:
# Write your code here to visualise the data according to the 'Complaint' character length

#### Find the top 40 words by frequency among all the articles after processing the text.

In [ ]:
#Using a word cloud find the top 40 words by frequency among all the articles after processing the text

In [ ]:
#Removing -PRON- from the text corpus
df_clean['Complaint_clean'] = df_clean['complaint_POS_removed'].str.replace('-PRON-', '')

#### Find the top unigrams,bigrams and trigrams by frequency among all the complaints after processing the text.

In [ ]:
#Write your code here to find the top 30 unigram frequency among the complaints in the cleaned datafram(df_clean).

In [ ]:
#Print the top 10 words in the unigram frequency

In [ ]:
#Write your code here to find the top 30 bigram frequency among the complaints in the cleaned datafram(df_clean).

In [ ]:
#Print the top 10 words in the bigram frequency

In [ ]:
#Write your code here to find the top 30 trigram frequency among the complaints in the cleaned datafram(df_clean).

In [ ]:
#Print the top 10 words in the trigram frequency

## The personal details of customer has been masked in the dataset with xxxx. Let's remove the masked text as this will be of no use for our analysis

In [ ]:
df_clean['Complaint_clean'] = df_clean['Complaint_clean'].str.replace('xxxx','')

In [ ]:
#All masked texts has been removed
df_clean

## Feature Extraction
Convert the raw texts to a matrix of TF-IDF features

**max_df** is used for removing terms that appear too frequently, also known as "corpus-specific stop words"
max_df = 0.95 means "ignore terms that appear in more than 95% of the complaints"

**min_df** is used for removing terms that appear too infrequently
min_df = 2 means "ignore terms that appear in less than 2 complaints"

In [ ]:
#Write your code here to initialise the TfidfVectorizer

#### Create a document term matrix using fit_transform

The contents of a document term matrix are tuples of (complaint_id,token_id) tf-idf score:
The tuples that are not there have a tf-idf score of 0

In [ ]:
#Write your code here to create the Document Term Matrix by transforming the complaints column present in df_clean.

## Topic Modelling using NMF

Non-Negative Matrix Factorization (NMF) is an unsupervised technique so there are no labeling of topics that the model will be trained on. The way it works is that, NMF decomposes (or factorizes) high-dimensional vectors into a lower-dimensional representation. These lower-dimensional vectors are non-negative which also means their coefficients are non-negative.

In this task you have to perform the following:

* Find the best number of clusters 
* Apply the best number to create word clusters
* Inspect & validate the correction of each cluster wrt the complaints 
* Correct the labels if needed 
* Map the clusters to topics/cluster names

In [ ]:
from sklearn.decomposition import NMF

## Manual Topic Modeling
You need to do take the trial & error approach to find the best num of topics for your NMF model.

The only parameter that is required is the number of components i.e. the number of topics we want. This is the most crucial step in the whole topic modeling process and will greatly affect how good your final topics are.

In [ ]:
#Load your nmf_model with the n_components i.e 5
num_topics = #write the value you want to test out

#keep the random_state =40
nmf_model = #write your code here

In [ ]:
nmf_model.fit(dtm)
len(tfidf.get_feature_names())

In [ ]:
#Print the Top15 words for each of the topics

In [ ]:
#Create the best topic for each complaint in terms of integer value 0,1,2,3 & 4

In [ ]:
#Assign the best topic to each of the cmplaints in Topic Column

df_clean['Topic'] = #write your code to assign topics to each rows.

In [ ]:
df_clean.head()

In [ ]:
#Print the first 5 Complaint for each of the Topics
df_clean=df_clean.groupby('Topic').head(5)
df_clean.sort_values('Topic')

#### After evaluating the mapping, if the topics assigned are correct then assign these names to the relevant topic:
* Bank Account services
* Credit card or prepaid card
* Theft/Dispute Reporting
* Mortgage/Loan
* Others

In [ ]:
#Create the dictionary of Topic names and Topics

Topic_names = {   }
#Replace Topics with Topic Names
df_clean['Topic'] = df_clean['Topic'].map(Topic_names)

In [ ]:
df_clean

## Supervised model to predict any new complaints to the relevant Topics.

You have now build the model to create the topics for each complaints.Now in the below section you will use them to classify any new complaints.

Since you will be using supervised learning technique we have to convert the topic names to numbers(numpy arrays only understand numbers)

In [ ]:
#Create the dictionary again of Topic names and Topics

Topic_names = {   }
#Replace Topics with Topic Names
df_clean['Topic'] = df_clean['Topic'].map(Topic_names)

In [ ]:
df_clean

In [ ]:
#Keep the columns"complaint_what_happened" & "Topic" only in the new dataframe --> training_data
training_data=

In [ ]:
training_data

####Apply the supervised models on the training data created. In this process, you have to do the following:
* Create the vector counts using Count Vectoriser
* Transform the word vecotr to tf-idf
* Create the train & test data using the train_test_split on the tf-idf & topics

In [ ]:

#Write your code to get the Vector count


#Write your code here to transform the word vector to tf-idf

You have to try atleast 3 models on the train & test data from these options:
* Logistic regression
* Decision Tree
* Random Forest
* Naive Bayes (optional)

**Using the required evaluation metrics judge the tried models and select the ones performing the best**

In [ ]:
# Write your code here to build any 3 models and evaluate them using the required metrics